<a href="https://colab.research.google.com/github/Niraj-Aware/Project/blob/main/Using%20TF-IDF%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [55]:
# Read in the training data from train.csv, using only a sample of 100,000 rows
train_data = pd.read_csv('train.csv', nrows=100000)

In [56]:
train_data.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [58]:
# Combine the questions into pairs
train_data['question_pair'] = train_data['question1'] + ' ' + train_data['question2']

In [59]:
# Convert the question pairs to tf-idf vectors
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(train_data['question_pair'])

In [60]:
# Define the labels for the data
y = train_data['is_duplicate']

In [61]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
# Train a random forest classifier on the training data
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [63]:
# Make predictions for the testing data and calculate the accuracy
y_pred = rf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

In [64]:
print('Testing accuracy:', accuracy)

Testing accuracy: 0.7708